@use 'abstracts' as *;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
    max-width: 50rem;
    

    @media (max-width: 53.0625rem) {
        padding: 2.8125rem 1.5625rem;
    }
    
    @media (min-width: 53.125rem) {
        padding: 5.625rem 2.8125rem;
    }
};

.container__title {
    @include text-style-font-main;
    color: $color-white;
    text-align: center;
};

.formArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
};

.formArea > input {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: none;    
    text-align: center;
    @include text-style-font-lato14-400;
    color: $color-gray;
    background-color: $color-white;
};

.formArea > button {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    text-align: center;
    @include text-style-font-lato14-400;    
    color: $color-white;
    background-color: $color-red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
};


.formArea__footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
};

.formArea__footer > p {
    @include text-style-font-lato16-700;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
};

.formArea__footer > select {
    @include text-style-font-lato16-700;
    color: $color-white;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
};

.formArea__footer > select > option {
    @include text-style-font-lato16-700;
    color: $color-black;
    background-color: transparent;
    border: none;    
    gap: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
};

