@use 'abstracts' as *;

.container {
    display: flex;
    
    background-color: $color-transparent;
    border-radius: 10px;
    width: 100%;
    max-width: 50rem;
    min-width: 18.75rem;
    

    @media (max-width: 53.0625rem) {
        flex-direction: column;
        align-items: center;
        width: 80%
        
    }
    
    @media (min-width: 53.125rem) {
        flex-direction: row;
        max-height: 25rem;
        margin-left: 3.125rem;
    }
};

.plain {
    object-fit: cover;
    border-radius: 10px;

    @media (max-width: 53.0625rem) {
        width: 100%;
        height: 11.75rem;
    }
    
    @media (min-width: 53.125rem) {
        height: auto;
    }
};

.spaceship {
    position: absolute;

    @media (max-width: 53.0625rem) {
        width:20.1875rem;
        height: 14.3125rem;
        left: 40%;
        top: 21.875rem;
            
    }
    
    @media (min-width: 53.125rem) {
        left: 20%;
        top: 32.5rem;        
    }
};