@use 'abstracts' as *;

.box {
    width: 100%;
    min-width: 22.1875rem;
    max-width: 37rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 53.0625rem) {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
};

.container {
    width: 100%;
    min-width: 22.1875rem;
    max-width: 37rem;
    background-color: $color-white;    
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    @media (max-width: 53.0625rem) {
        padding: 0.625rem;
    }

    @media (min-width: 53.125rem) {
        padding: 1.5625rem;
    }
};

.container__header {
    width: 100%;
    display: flex;
    gap: 3.125rem;
    margin-bottom: 1.25rem;

    @media (max-width: 32.4375rem) {
        flex-direction: column;        
        align-items: center;
    }
};

.container__header__leftPanel {    
    display: flex;
    gap: 0.625rem;
    align-items: center
};

.container__header__leftPanel > div > p {
    @include text-style-font-montserrat14-400;
    color: $color-black;    
};

.container__header__leftPanel > div > h2 {
    @include text-style-font-montserrat18-900;
    color: $color-black;    
};

.container__header__rightPanel {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
};

.container__header__rightPanel > p {
    @include text-style-font-montserrat14-700;
    color: $color-black;
    display: flex;
    align-items: center;
    gap: 0.3125rem;
};

.container__header__rightPanel > p > span{
    font-weight: 400;
};

.container__body {
    width: 100%;
    display: flex;
    flex-direction: column;    
    gap: 0.9375rem;
    background-color: $color-gray2;
    border-radius: 10px;
    padding: 0.625rem 0.9375rem;
};

.container__body > h2 {
    @include text-style-font-montserrat14-700;
    color: $color-black;
    padding-bottom: 0.625rem;
    border-bottom: solid 0.0625rem $color-black;
    display: flex;
    align-items: center;
    gap: 0.3125rem;
};

.container__body > p {
    @include text-style-font-montserrat14-400;
    color: $color-black;    
};

.backButton {
    @include text-style-font-montserrat14-500;
    color: $color-white;
    margin-right: 0;
    margin-left: auto;

    @media (max-width: 53.0625rem) {
        margin-top: 2.1875rem;
    }
    
    @media (min-width: 53.125rem) {
        margin-top: 3.125rem;
    }
};