@use 'abstracts' as *;

.footer__container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
};

.footer__infos {    
    @include text-style-font-footer;
    
    @media (max-width: 53.0625rem) {
        display: none;
    }
};

.footer__divider {    
    width: 0.1875rem;
    height: 2.75rem;
    background-color: $color-black;
    
    @media (max-width: 53.0625rem) {
        display: none;
    }
};